body {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}

input {
  width: 150px;
  padding: 10px 15px;
  margin: 10px auto;
  display: block;
}

button {
  border: none;
  background-color: #434343;
  color: white;
  cursor: pointer;
  line-height: 40px;
  width: 100px;
}

.button {
  display: inline-block;
  background-color: #434343;
  color: white;
  cursor: pointer;
  margin: auto;
  line-height: 40px;
  width: 100px;
}

a {
  color: black;
}

.errorInput {
  border: solid red;
}

.errorAlert {
  display: block;
  margin-bottom: 10px;
  visibility: hidden;
  font-size: 0.8em;
  color: red;
}

.errorAlert.visible {
  visibility: visible;
}

.recharts-responsive-container {
  margin: auto;
  margin-bottom: 30px;
}
